.token-card {
    display: grid;
    grid-template-columns: 0.8fr 0.6fr 1fr 0.2fr; 
    align-items: center;
    justify-content: initial;
    background-color: #21222D;
    padding: 20px 30px;
    border-radius: 12px;
    margin-bottom: 12px;
    transition: all 0.3s ease;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

/* Fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform : translateY(0);
    }
}

/* 각 카드 fade-in 딜레이 */
.token-card:nth-child(1) {animation-delay: 0.03s;}
.token-card:nth-child(2) { animation-delay: 0.06s; }
.token-card:nth-child(3) { animation-delay: 0.09s; }
.token-card:nth-child(4) { animation-delay: 0.12s; }
.token-card:nth-child(5) { animation-delay: 0.15s; }
.token-card:nth-child(6) { animation-delay: 0.18s; }
.token-card:nth-child(7) { animation-delay: 0.21s; }
.token-card:nth-child(8) { animation-delay: 0.24s; }
.token-card:nth-child(9) { animation-delay: 0.27s; }
.token-card:nth-child(10) { animation-delay: 0.30s; }

/* Hover */
.token-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 10px #4880FF;
    background-color: #272836;
}

/* 토큰 정보 */
.token-info {
    display: flex;
    align-items: center;
    gap: 8px;
}
.token-name {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
.token-symbol {
    color: #87888C;
    font-size: 16px;
    font-weight: 500;
}

/* 주소 */
.token-address {
    color: #FFFFFF;
    background-color: #4880FF;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
}

/* 타입 */
.token-type {
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    white-space: normal;
    overflow-wrap: anywhere;
    max-width: 18ch;
    margin: 0 auto;
}

/* Risk Score */
.risk-score {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}