.risk-score-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.circle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

circle {
    fill: none;
    stroke-width: 12;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.score-text {
    position: absolute;
    top: 60%;
    left: 40%;
    translate: translate(-50%, -50%);
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}