.token-info-card {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

/* 헤더 */
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-title { 
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.token-info-card .card-title {
    display: inline-block;
    margin-top: 16px;
}

/* Token Name */
.token-name-section {
    display: flex;
    align-items: baseline;
    padding-left: 120px;
    margin-top: -10px;
}
.token-name {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}
.token-symbol {
    font-size: 18px;
    font-weight: 700;
    color: #87888C;
    margin-left: 10px;
}
.token-symbol::before { content: "("; }
.token-symbol::after  { content: ")"; }
.addr-pill {
    transform: translateY(-4px);
  display: inline-block; padding: 6px 10px; border-radius: 6px;
  background: #3B6EF5; color:#fff; font-size: 12px; letter-spacing: .2px;
  font-family: ui-monospace, Menlo, Consolas, monospace;
  margin-left: 20px;
}
.icon-btn {
  width:22px; height:22px; border:1px solid #2A2D33; border-radius:6px;
  background:#1A1C21; color:#C9CDD4; font-size:12px; cursor:pointer;
  display:inline-flex; align-items:center; justify-content:center;
}
.icon-btn:hover { background:#20232A; }
.icon-btn:focus-visible { outline:2px solid #3B6EF5; outline-offset:2px; }

/* 정보 */
.info-section {
    display: flex;
    flex-direction : column;
    gap: 12px;
}

.info-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 120px;
}

.info-label {
    display: block;
    color: #87888C;
    font-size: 14px;
    font-weight: 400;
}

.info-value {
    display: block;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    word-break: break-all;
}